* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: hsl(345, 81%, 65%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1100px;
}

.card {
  background: #d62e2e;
  border-radius: 30px;
  display: flex;
  padding: 20px;
  gap: 20px;
}

/* IMAGE SECTION */
.image-section {
  flex: 1;
  border-radius: 25px;
  overflow: hidden;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FORM SECTION */
.form-section {
  flex: 1.2;
  background: #e0535a;
  padding: 40px 30px;
  border-radius: 25px;
  color: #fff;
}

.form-section h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.login-text {
  font-size: 14px;
  margin-bottom: 25px;
}

.login-text a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

form input {
  width: 100%;
  padding: 14px 18px;
  border-radius: 25px;
  border: none;
  outline: none;
  margin-bottom: 15px;
  font-size: 14px;
}

.row {
  display: flex;
  gap: 15px;
}

.row input {
  flex: 1;
}

/* BUTTON */
.btn-main {
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  border: none;
  background: #e6e6e6;
  color: #fa929a;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

/* DIVIDER */
.divider {
  text-align: center;
  margin: 25px 0 15px;
  position: relative;
}

.divider span {
  font-size: 13px;
  padding: 0 10px;
}

.divider::before,
.divider::after {
  content: "";
  height: 1px;
  width: 35%;
  background: #fff;
  position: absolute;
  top: 50%;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

/* SOCIAL BUTTONS */
.social {
  display: flex;
  gap: 15px;
}

.social button {
  flex: 1;
  padding: 12px;
  border-radius: 25px;
  border: none;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.social img {
  width: 18px;
}

.google {
  background: #fff;
  color: #555;
}

.apple {
  background: #fff;
  color: #000;
}
